.root {
  background-color: black;
  color: #fff;
  padding: 1em;
}

.header {
  color: #fff;
}

.highlighted {
  color: red;
}

.pageLink {
  margin-right: 10px;
  margin-left: 10px;

  &:last -child {
    margin-left: 0;
  }
}
